:root {
    --text:#dae9ed;
    --box: #252b38;
    --listobj: #8e96af;
    --search: #303335;
    --bg: #0d1017;
}


body {
    background-color: var(--bg) ;
    color: var(--text);
    font-family: JetBrainsMono NF, sans;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    /* Image */
    background-image: url(./assets/images/debian.png);
    height: 40em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 120px;
}

#Search {
    margin-top: 10%;
}
.search_box {
    border: none;
    outline: none;
    color: var(--text);
    background-color: var(--search);
    height: 40px;
    width: 40%;
    text-align: center;
    font-family: JetBrainsMono NF;
    font-size: 14pt;
    border-radius: 5pt;
}

#bookmarks {
    display: flex;
    margin: 5%;
    padding: 2%;
}

#bookmarks > .bm_box {
    border-radius: 10px;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1%;
    padding-right: 40px; /* Somehow makes it more centered */
    background-color: var(--box);
}


li, a { 
    color: var(--listobj);
    text-align: center;
    color: var(--listobj);
    list-style-type: none;
    padding: 5px;
}

/* Typewriter effect */
#typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    width: 30%;
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    font-size: 28pt;
    animation: 
        typing 2s steps(35, end),
        blink-caret .65s step-end 32;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 30% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    30% { border-color: var(--text); }
}
